.navbar {
  width: 100%;
  /* padding: 26px 60px; */
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  background-image: url('/images/hero.png');
  height: 500px;
}


h1 {
  font-size: 20px;
}

button {
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}
.journey {
  background: #618379;
  padding: 57px 0;
}

h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 57px;
}

.journey-list {
  display: flex;
  gap: 10px;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color:gray;
}

.journey-image {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 25px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}
footer{
  background-color: black;
  justify-items: center;
  color: white;
}